<p>
<strong>Commenter</strong>
<%= comment.commenter %>
</p>
<p>
<stong>Comment:</stong>
<%= comment.body %>
</p>
<p>
<%= link_to 'destroy Comment', [comment.article, comment],
method: :delete,
data: { confirm: 'Are you sure?' } %>
</p>